html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5deb3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todos,
.adder {
  padding: 20px;
}

.todos {
  background-color: #f0f8ff;
}

.adder {
  background-color: #e0ffff;
  padding-bottom: 15px;
}

h2 {
  margin-top: 0;
}

.todo-list li {
  padding: 10px;
}
.todo-list {
  list-style-type: none;
}

.task {
  width: calc(100% - 25px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.add-button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #4c5caf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a049;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  background-color: #4682b4;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  width: 750px;
}
@media screen and (max-width: 780px) {
  .todo-list-container {
    display: flex;
    flex-direction: column;
    background-color: #4682b4;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    width: 90vh;
    height: 50vh;
  }
}
.task-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #222222;
}

.delete-button {
  margin-left: 10px;
}
/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

/* Priority Dropdown */

.priority-dropdown {
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

.priority-dropdown:hover {
  background-color: #eeeeee;
}

.medium {
  background-color: lightgoldenrodyellow;
}
.low {
  background-color: #4682b4;
}
.high {
  background-color: lightcoral;
}
